body{
    width: 100%;
    margin: 0;
    font-size: 14px;
}


*,
*:before,
*::after{
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: 30px;
    margin-bottom: 0;
    margin-top: 0;
}



/*Главная область*/
.main_area{
    width: 100%;
    height: 350px;
    max-width: 1300px;
    margin-top: 20px;
    margin-left: 20px;

}



/*Header*/
header{
    background-color: black;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;

    border-bottom: 1px solid #515369;
}

.header_author{
    font-size: 24px;
    color: white;
}

.header_logo{
    font-size: 26px;
    text-align: center;
}

.logo{
    color: white;
    text-decoration: none;
}



/*Task*/
.text{
    width: 900px;
    height: 50px;
    font-size: 20px;

    margin-top: 20px;
}



/*Meme*/
.meme{
    width: 400px;
    height: 350px;
    font-size: 18px;

    margin-left: 1000px;
    margin-top: -50px;

    text-align: center;
}

.cool_cat{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    border: 5px solid black;
}



/*Button*/
.resultButton{
    width: 243px;
    color: black;
    
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgb(145, 140, 140);

    transition: all 1s;
}

.resultButton:hover{
    background-color:rgb(157, 157, 187);
    transition: all 0.4s;
}

/*Input*/
.Areas{
    width: 250px;
    height: 240px;
    margin-top: -280px;
    
    font-size: 18px;
    text-align: center;
}

.area{
    width: 243px;
    height: 150px;
    border-color:black;
}

.smallArea{
    height: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-color: black;
}

/*Output*/
.result{
    width: 150px;
    height: 100px;
    margin-top: -240px;
    margin-left: 350px;

    font-size: 18px;
    text-align: center;
}

